/**:
  ros__parameters:
    controller: 'Logitech'            # Xbox
    press_time: 100                   # ns, used for toggle, double click, etc
    raw: true                         # raw except it includes deadband where necessary
    long_press: true                  # if true msg includes long_press
    toggle: true
    increment: true
    hold: true
    hold_buttons: ['Back']            # buttons to push to engage hold (multiclick used for double/triple click)
    hold_double_click: 1                # if using multiple buttons, this should be 1
    timer: true
    change_state: true
    double_click: true
    axis_deadband: ['LRLJ' 'UDLJ' 'LRRJ' 'UDRJ' 'RT' 'LT' 'LRD' 'UDD'] 
    deadband: [ 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1 ]


# 'A' 'B' 'X' 'Y' 'LB' 'RB' 'Back' 'Start' 'Power' 'LJB' 'RJB'
# 'LRLJ' 'UDLJ' 'LRRJ' 'UDRJ' 'RT' 'LT' 'LRD' 'UDD'