/**:
  ros__parameters:
    controller: 'Logitech'            # Xbox
    press_time: 100                   # ns
    raw: ['Y']                        # if unspecified, will default to raw
    toggle: ['A', 'B']
    increment: ['Y']
    increment_n: ['5']
    axis_hold: ['LRLJ', 'UDLJ']
    timer: ['None']
    change_state: ['None']


# 'A' 'B' 'X' 'Y' 'LB' 'RB' 'Back' 'Start' 'Power' 'LJB' 'RJB'
# 'LRLJ' 'UDLJ' 'LRRJ' 'UDRJ' 'RT' 'LT' 'LRD' 'UDD'