////// --Microsoft Xbox 360 Wireless Controller for Linux--//
//// -Buttons
// 0  -> A                              'A'
// 1  -> B                              'B'
// 2  -> X                              'X'
// 3  -> Y                              'Y'
// 4  -> LB                             'LB'
// 5  -> RB                             'RB'
// 6  -> Back                           'Back'
// 7  -> Start                          'Start'
// 8  -> Power                          'Power'
// 9  -> Left Joystick Button           'LJB'
// 10 -> Right Joystick Button          'RJB'
//// -Axes
// 0  -> L/R Left Joystick              'LRLJ'
// 1  -> U/D Left Joystick              'UDLJ'
// 2  -> L/R Right Joystick             'LRRJ'
// 3  -> U/D Right Joystick             'UDRJ'
// 4  -> RT                             'RT'
// 5  -> LT                             'LT'
// 6  -> L/R D-pad                      'LRD'
// 7  -> U/D D-pad                      'UDD'

////// --Logitech Wireless Gamepad F710 (DirectInput Mode)--//
//// -Buttons
// 0  -> X
// 1  -> A
// 2  -> B
// 3  -> Y
// 4  -> LB
// 5  -> RB
// 6  -> LT
// 7  -> RT
// 8  -> Back
// 9  -> Start
// 10 -> Left Joystick Button
// 11 -> Right Joystick Button
//// -Axes
// 0  -> L/R Left Joystick
// 1  -> U/D Left Joystick
// 2  -> L/R Right Joystick
// 3  -> U/D Right Joystick
// 4  -> L/R D-pad
// 5  -> U/D D-pad
// http://wiki.ros.org/joy

//       _=====_                               _=====_
//      / _____ \                             / _____ \
//    +.-'_____'-.---------------------------.-'_____'-.+
//   /   |     |  '.        S O N Y        .'  |  _  |   \
//  / ___| /|\ |___ \                     / ___| /_\ |___ \
// / |      |      | ;  __           _   ; | _         _ | ;
// | | <---   ---> | | |__|         |_:> | ||_|       (_)| |
// | |___   |   ___| ;SELECT       START ; |___       ___| ;
// |\    | \|/ |    /  _     ___      _   \    | (X) |    /|
// | \   |_____|  .','" "', |___|  ,'" "', '.  |_____|  .' |
// |  '-.______.-' /       \ANALOG/       \  '-._____.-'   |
// |               |       |------|       |                |
// |              /\       /      \       /\               |
// |             /  '.___.'        '.___.'  \              |
// |            /                            \             |
//  \          /                              \           /
//   \________/                                \_________/
//
//                    PS2 CONTROLLER
// https://www.asciiart.eu/computers/game-consoles

// Options
// Raw, Latch (on/off), Increment, time held, when value changes
// Requires timers for length of button press
// Option to latch axes
// reset all values Option